:root{
    /* --bs-dark-rgb: rgb(33, 47, 61); */
    /* --bs-dark-rgb: rgb(33, 47, 61); */
    /* custom variables */
    --text-nav--link--active-restyle: white;
    /* --bg-nav--link--active-restyle: #acc99f; */
    --bg-nav--link--active-restyle: #9fc4c9;
    /* --bg-main--DarkColor-restyle: #14632a; */

    --bg-main--DarkColor-restyle: rgba(0, 68, 95, 0.925);
    /* --bg-main--DarkColor-restyle: #212F3D; */
    
    /* --bg-main--Header-DarkColor-restyle: #226449; */
    --bg-main--LightColor-restyle: #9fc1c9;
    --bg-main--Header--DarkColor-restyle: rgba(9, 41, 59, 0.925);
    --bg-main--ImgGrad-restyle: linear-gradient(to bottom right, #004357, #9fc1c9);
}

.dark{
    /* background-color: var(--bg-main-DarkColor-restyle); */
    background-color: rgb(61, 33, 41);
}

.bg--main--BackImg--restyle{
    background: var(--bg-main--ImgGrad-restyle);
}

.btn-primary, .btn-outline-primary:hover{
    background-color: rgba(9, 41, 59, 0.925);
    border: 2px solid white;
}

.bg--main--DarkColor--restyle{
    background-color: var(--bg-main--DarkColor-restyle);
}
.bg--main--LightColor--restyle{
    background-color: var(--bg-main--LightColor-restyle);
}
.bg--main--Header--DarkColor--restyle{
    background-color: var(--bg-main--Header--DarkColor-restyle);
}
.bg--main--link--active{
    background-color: rgba(159, 193, 201, 0.25);
    border: 2px solid var(--bg-nav--link--active-restyle);
    border-radius: 0.5em;
    color: var(--text-nav--link--active-restyle) !important;
}
